{% extends "myapp/base.html" %}
{% load static %}

{% block title %}Education{% endblock title %}

{% block content %}

<p class="this">This is My</p>
<h1 class="education">Education</h1>

<div class="edu">
    <p class="uni"><b>Universitas Pendidikan Indonesia</b></p>
    <p class="desc">2023 - Now</p>
    <p class="desc">Pendidikan Ilmu Komputer</p>
</div>

<div class="edu">
    <p class="uni"><b>SMA Negeri 15 Bandung</b></p>
    <p class="desc">2020 - 2023</p>
    <p class="desc">Matematika dan Ilmu Pengetahuan ALam</p>
</div>

{% endblock content %}