{% extends "myapp/base.html" %}
{% load static %}

{% block title %}Experience{% endblock title %}

{% block content %}

<p class="this">This is My</p>
<h1 class="education">Experience</h1>

<div class="ex">
    <p class="uni"><b>Peserta Lomba Inovasi Digital Mahasiswa</b></p>
    <p class="desc">2024</p>
    <p class="desc-exp">Berhasil lolos seleksi tahap UPI di divisi Inovasi
        Pembelajaran Digital (IPDP) dengan mengembangkan media pembelajaran 
        yang mengenalkan konsep Artificial INtelligence melalui materi
        Bahasa Inggris di Sekolah Dasar
    </p>
</div>

{% endblock content %}