{% extends "myapp/base.html" %}
{% load static %}

{% block title %}Social{% endblock title %}

{% block content %}

<p class="this">This is My</p>
<h1 class="education">Social</h1>

<div class="social">
    <i class="fa fa-instagram"></i>

    <div class="info">
        <p class="name-social"><b>Instagram</b></p>
        <a href="https://www.instagram.com/rizkhairanii_" class="desc-social">rizkhairanii_</a>
    </div>
</div>

<div class="social">
    <i class="fa fa-linkedin"></i>

    <div class="info">
        <p class="name-social"><b>LinkedIn</b></p>
        <a href="https://www.linkedin.com/in/rizka-nabila-khairani-5a10a9293" class="desc-social">Rizka Nabila Khairani</a>
    </div>
</div>

<div class="social">
    <i class="fa fa-envelope"></i>
    <div class="info">
        <p class="name-social"><b>Email</b></p>
        <a href="mailto:rizkhairanii@gmail.com" class="desc-social">rizkhairanii@gmail.com</a>
    </div>
</div>

{% endblock content %}